.body {
	font-family: 'Sawarabi Mincho', serif;
}
/* 画面全体 */
.l-menu {
	font-size: 2vw;
	margin: 0 8vw;
}
/*　メニュー全体　*/
.p-menu {
  font-size: 2vw;
}
/* メニュータイトル */
.p-menuTitle {
	margin-top: 3vw;
	text-align: center;
}
.p-menuTitleCapital {
	font-size: 8vw;
}
.p-menuTitleKanamoji {
	font-size: 2vw;
}
.p-modal {
  margin: 8vw 0;
}
.p-inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* モーダルを開くボタン */
.p-menuInner {
	column-gap: 10%;
	display: flex;
	flex-wrap: wrap;
	height: 60vw;
	justify-content: center;
}
.p-menuInnerBtn {
align-items: center;
animation-duration:2.5s;
animation-fill-mode:forwards;
animation-name:fadeUpAnime;
background-color: #f5ebe0;
cursor: pointer;
display: flex;
height: 8vw;
justify-content: center;
margin-bottom: 4vw;
position: relative;
transition: 0.7s ;
width: 45%;
}
.p-menuInnerBtn:active {
	opacity: 999;
	transform: translate3d(0, 0, 0);
	transition: 1s;
}
.p-menuInnerBtn:hover {
	background-color: #d5bdaf;
	color: #fff;
}
.p-menuInnerBtn::after {
	content: "+";
	position: absolute;
	right: 3%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

/* モーダル本体 */
.p-modalWrapper {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.p-modalLayer {
  background: rgba(50, 50, 50, .85);
  cursor: pointer;
  height: 100%;
}
.p-modalContainer {
  background: #edede9;
  height: 60%;
  left: 50%;
	overflow: hidden scroll ;
  padding: 4vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.p-modalContainer::-webkit-scrollbar {
  display: none;
}
.p-modalContainerInner {
  height: 80%;
  position: relative;
}

/* モーダルを閉じるボタン */
.p-modalContainerInnerClose {
  background: #fff;
	border-radius: 50%;
  cursor: pointer;
  height: 4vw;
  position: absolute;
  right: 0;
  transition: opacity .6s;
  width: 4vw;
}
.p-modalContainerInnerClose:hover {
  opacity: .6;
}
.p-modalContainerInnerClose:before,
.p-modalContainerInnerClose:after {
  background: #000;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 3vw;
}
.p-modalContainerInnerClose:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.p-modalContainerInnerClose:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* モーダル内のコンテンツ */
.p-modalContainerInnerContent {
	padding: 15% 10%;
}
.p-containerModalContentBoxImg {
	height: 100%;
	margin-bottom: 9vw;
	object-fit: cover;
	width: 100%;
}

.p-menuDetailContentPopupInnerTextwrapper {
	display: flex;
}
#Futo .p-menuDetailContentPopupInnerTextLeft {
	width: 50%;
}
#Futo .p-menuDetailContentPopupInnerTextRight {
	width: 50%;
}

.p-menuDetailContentPopupInnerTextItem {
	text-align: center;
}


/*オーダータイトル*/
.p-orderTitle {
	margin-top: 3vw;
	text-align: center;
}
.p-orderTitleCapital {
	font-size: 8vw;
}
.p-orderTitleKanamoji {
	font-size: 2vw;
}
.p-orderText {
	margin-bottom: 15vw;
	margin-top: 6vw ;
}
.p-orderTextInner {
	font-size: 3vw;
	text-align: center;
}
.p-orderDetil {
	height: 130vw;
	position: relative;
}
.p-orderDetilContents {
	display: flex;
	position:absolute;
}
.p-orderDetilContents:nth-child(1) {
	top: 0vw;
}
.p-orderDetilContents:nth-child(2) {
	justify-content: flex-end;
	top: 25vw;
}
.p-orderDetilContents:nth-child(3) {
	top: 50vw;
}
.p-orderDetilContents:nth-child(4) {
	justify-content: flex-end;
	top: 75vw;
}
.p-orderDetilContents:nth-child(5) {
	top: 100vw;
}
.p-orderDetilContents:nth-child(6) {
	justify-content: flex-end;
	top: 125vw;
}
.p-orderDetilContentsInner {
	position: relative;
	width: 46%;
}

/* STEPテープ */
.p-orderDetilContentsInnerSticker {
	display: inline-block;
	position: absolute;
	top: 3%;
	width: 55%;
	z-index: 1;
}
.p-orderDetilContents:nth-child(odd) >.p-orderDetilContentsInner > .p-orderDetilContentsInnerSticker {
	left: -8%;
	top: 5%;
	transform: rotate(-25deg);
}
.p-orderDetilContents:nth-child(even) >.p-orderDetilContentsInner > .p-orderDetilContentsInnerSticker {
	left: 53%;
	top: 5%;
	transform: rotate(25deg);
}
.p-orderDetilContentsInnerStickerTitle {
	overflow: hidden;
	padding: 3% 0;
	text-align: center;
	width: 100%;
}
.p-orderDetilContents:nth-child(odd) >.p-orderDetilContentsInner >.p-orderDetilContentsInnerSticker >.p-orderDetilContentsInnerStickerTitle {
	margin-right: 0;
}
.p-orderDetilContents:nth-child(even) >.p-orderDetilContentsInner >.p-orderDetilContentsInnerSticker >.p-orderDetilContentsInnerStickerTitle {
	margin-left: 0;
}
.p-orderDetilContentsInnerStickerTitleText {
	background-color: rgba(214, 204, 194, 0.75); /*　#edede9を透明化したもの　*/
	border-left: 2px dotted rgba(0,0,0,.1);  border-right: 2px dotted rgba(0,0,0,.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	padding: 1.5vw 0;
	width: 100%;
	}
.moveLeft {
	transform: translateX(calc(-50vw - 50%));
}
.moveRight {
	transform: translateX(calc(50vw - 50%));
}
.sride {
	animation: animeTape 2s ease 0s 1 normal forwards;
	transform: translateX(0);
}


/* スライド写真 */
.p-orderDetilContentsInnerImg {
	overflow: hidden;
	position: relative;
}
.p-orderDetilContentsInnerImgPhoto {
	transition: 2s cubic-bezier(0.75, 0, 0.25, 1);
	width: 100%;
}
.Left {
	transform: translateX(calc(-50vw - 50%));
}
.Right {
	transform: translateX(calc(50vw + 50%));
}
/*　スライド　jQuery用*/
.show {
  transform: translateX(0);
}

/*　下部文字　*/
.p-orderDetilContentsInnerText {
	display: flex;
}
.p-orderDetilContentsInnerTextBox {
	padding: 3vw 0;
	position: relative;
}
/*　最下部ボタン　*/
.p-orderbtn {
	display: flex;
	justify-content: center;
	margin:20vw 0;
}
.p-orderbtntext {
	background-color: #EDEDE9;
	border: 1px solid #EDEDE9;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
	padding: 5vw 8vw;
	text-align: center;
	width: 37%;
}
.p-orderbtntext:hover {
	background-color: #d5bdaf;
	color: #fff;
}

/* モーダルを開く　*/
@keyframes fadeUpAnime{
	from {
		opacity: 0;
	transform: translateY(100px);
	}
	
	to {
		opacity: 1;
	transform: translateY(0);
	}
}
/*　テープ貼り付ける　*/
@keyframes animeTape {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}
	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}


@media screen and (max-width: 1024px) {
	/* タブレット画面スタイル */
	.p-orderDetil {
		height: 140vw;
		position: relative;
	}

	.p-orderDetilContents {
		display: flex;
		position: absolute;
	}

	.p-orderDetilContents:nth-child(1) {
		top: 0vw;
	}

	.p-orderDetilContents:nth-child(2) {
		justify-content: flex-end;
		top: 25vw;
	}

	.p-orderDetilContents:nth-child(3) {
		top: 50vw;
	}

	.p-orderDetilContents:nth-child(4) {
		justify-content: flex-end;
		top: 75vw;
	}

	.p-orderDetilContents:nth-child(5) {
		top: 100vw;
	}

	.p-orderDetilContents:nth-child(6) {
		justify-content: flex-end;
		top: 125vw;
	}

	.p-orderDetilContentsInner {
		position: relative;
		width: 46%;
	}
}


@media screen and (max-width: 600px) {
	/* sp用スタイル */
	.l-menu {
		font-size: 3vw;
	}
	.p-menu {
		font-size: 3vw;
		margin: 20vw 0;
	}
	.p-menuInner {
		height: 120vw;
		row-gap: 3vw;
	}
	.p-menuInnerBtn {
		height: 10vw;
		margin: 0 0;
		width: 100%;
	}
	.p-menuInnerBtn::after {
		content: "+";
		position: absolute;
		right: 3%;
		top: 50%;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.p-modalContainer {
		height: 60%;
		width: 80%;
	}
	.p-order {
		margin: 15vw 0;
	}
	.p-orderDetil {
		height: fit-content;
		position: static;
	}
	.p-orderDetilContents {
		display: flex;
		margin-right: 0vw;
		position: static;
		width: 100%;
	}
	.p-orderDetilContents:nth-child(odd) {
		justify-content: flex-end;
		margin-right: 0vw;
	}
	.p-orderDetilContents:nth-child(even) {
		justify-content: flex-start;
	}
	.p-orderDetilContents:not(:last-child) {
		margin-bottom: 10vw;
	}
	.p-orderDetilContentsInner {
		width: 80vw;
	}
	.p-orderDetilContentsInnerImgLeft {
		margin-bottom: 3vw;
	}
	.p-orderDetilContentsInnerImgRight {
		margin-bottom: 3vw;
	}
	.p-orderDetilContentsInnerStickerLeft {
		left: -8vw;
		width: 45%;
	}
	.p-orderDetilContentsInnerStickerRight {
		left: 52vw;
		width: 45%;
	}
	.p-orderDetilContentsInnerStickerTitleLeft {
		justify-content: center;
	}
	.p-orderDetilContentsInnerStickerTitleRight {
		justify-content: center;
	}
	.p-orderDetilContentsInnerStickerTitleTextLeft {
		text-align: center;
	}
	.p-orderDetilContentsInnerStickerTitleTextRight {
		text-align: center;
	}
	.p-orderbtn {
		justify-content: center;
		margin-bottom: 20vw;
	}

	.p-orderbtntext {
		width: 50vw;
	}
}
